extends base
block content
  table.table.table-sm.table-hover
      thead.thead-dark
        tr
          th(scope='col') Name
          th(scope='col') Email
          th(scope='col') Role
          th(scope='col') Status
          th(scope='col') Action
      tbody
         each user in users
            tr
                td= user.name
                td= user.email
                td= user.role
                if user.active 
                  td Active
                else
                  td In Active
                td
                  if user.active
                    form.form
                      input#id.form_input(type='hidden',value=`${user._id}`)
                      input#active.form_input(type='hidden',value='false')
                      button.btn.btn-danger(type='submit') Mark Inactive
                  else 
                    form.form 
                      input#id.form_input(type='hidden',value=`${user._id}`)
                      input#active.form_input(type='hidden',value='true')
                      button.btn.btn-success(type='submit') Mark As Active
                 
                    
                