extends base
block content
  .users 
    table.table.table-sm.table-hover
      thead.thead-dark
        tr
          th(scope='col') Name
          th(scope='col') Email
          th(scope='col') Role
          th(scope='col') Status
          th(scope='col') Action
      tbody
         each user in users
            tr
              td.bg-info.text-capitalize= user.name
              td.bg-info= user.email
              td.bg-info.text-capitalize= user.role
              if user.active 
                td.bg-dark.text-success.font-weight-bold Enabled
              else
                td.bg-dark.text-info.font-weight-bold Disabled
              td
                if user.active
                  label.toggle
                    input.toggle-checkbox(type='checkbox', checked=true, onClick="updateActive('"+user._id+"',false)")
                    .toggle-switch
                    span.toggle-label 
                else 
                  label.toggle
                    input.toggle-checkbox(type='checkbox', checked=false , onClick="updateActive('"+user._id+"',true)")
                    .toggle-switch
                    span.toggle-label 