doctype html 
html 
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width,initial-scale=1.0')
            //- link(rel='stylesheet' href='/css/style.css')
            link(rel='stylesheet' href='/css/login.css')
            link(rel='stylesheet' href='/css/users.css')
            link(rel='stylesheet' href='/css/tableDivider.css')
            link(rel='shortcut icon' type='/image/png' href='/img/apple-touch-icon.png')
            link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css", integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65", crossorigin="anonymous")
            link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
            title Gateway | #{title}

    body
    include _header  
    .outerDiv
        .leftDiv
            table.table.table-sm.table-hover
              thead 
                each project in stuffingProjectDetails
                  tr 
                    th
                      a(href=`${project.url}`)= `Project Details : ${project.name}` 
                    th= `Sheet Name : ${project.spreadsheet_name}`
            table.table.table-sm.table-hover
              thead
                tr.table-info
                  th(scope='col') Consolidator
                  th(scope='col') Plan Recevied
                  th(scope='col') Running
                  th(scope='col') Stuffed
                  th(scope='col') Pending
                  th(scope='col') Tues
                  th(scope='col') Cbm
              tbody
                each stuffing in stuffingReportWarehouseThree
                  if stuffing.consolidator=='TOTAL'
                    tr.table-secondary
                      td.table-success= stuffing.consolidator
                      td= stuffing.plan_recevied
                      td= stuffing.RUNNING  
                      td= stuffing.STUFFED
                      td= stuffing.PENDING
                      td= stuffing.tues
                      td= stuffing.cbm
                  else 
                    tr
                      td.table-success= stuffing.consolidator
                      td= stuffing.plan_recevied
                      td= stuffing.RUNNING  
                      td= stuffing.STUFFED
                      td= stuffing.PENDING
                      td= stuffing.tues
                      td= stuffing.cbm
                tr 
                  td(colspan='8')
                    a(href='http://127.0.0.1:8000/report-one-carting').button.btn.btn-success.btn-lg.btn-block(type='button')
                      img(src='/img/download.svg', alt='excel', width='30px', height='25px')
            #chart_div(style='height: 500px;')

        .rightDiv
            table.table.table-sm.table-hover
              thead
                each project in cartingProjectDetails 
                  tr 
                    th
                      a(href=`${project.url}`)= `Project Details : ${project.name}` 
                    th= `Sheet Name : ${project.spreadsheet_name}`
            table.table.table-sm.table-hover
              thead
                tr.table-info
                  th(scope='col') Consolidator
                  th(scope='col') Arrived
                  th(scope='col') Offloaded
                  th(scope='col') Running
                  th(scope='col') Pending
                  th(scope='col') Cbm
              tbody
                each carting in cartingDataSetThree
                  if carting.consolidator=='TOTAL'
                    tr.table-secondary
                      td.table-success= carting.consolidator
                      td= carting.arrived
                      td= carting.OFFLOADED  
                      td= carting.RUNNING
                      td= carting.PENDING
                      td= carting.inward_cbm
                  else 
                    tr
                      td.table-success= carting.consolidator
                      td= carting.arrived
                      td= carting.OFFLOADED  
                      td= carting.RUNNING
                      td= carting.PENDING
                      td= carting.inward_cbm
                tr 
                  td(colspan='8')
                    a(href='http://127.0.0.1:8000/report-one-carting').button.btn.btn-success.btn-lg.btn-block(type='button')
                      img(src='/img/download.svg', alt='excel', width='30px', height='25px')
            #caring_chart(style='height: 500px;')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
    script(src='/js/login.js')
    script(src='/js/logout.js')
    script(src='/js/updateUser.js')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js", integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4", crossorigin="anonymous")   
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')  
    script(type='text/javascript').
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawVisualization);
            function drawVisualization() {
            // Some raw data (not necessarily accurate)
            let chartjss= !{JSON.stringify(stuffingChartThree)};
            console.log(chartjss)
            chartjss = JSON.parse(chartjss);
            console.log(chartjss,' jsss ');
            let data = google.visualization.arrayToDataTable(chartjss);
            
            let options = {
              title : 'Stuffing report warehouse Three',
              vAxis: {title: 'Range'},
              hAxis: {title: 'Consolidator'},
              seriesType: 'bars',
              series: {7: {type: 'line'}}
            };
            let chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            }

            google.charts.setOnLoadCallback(drawCarting);
            function drawCarting() {
            // Some raw data (not necessarily accurate)
            let chartjss= !{JSON.stringify(cartingChartThree)};
            chartjss = JSON.parse(chartjss);
            let data = google.visualization.arrayToDataTable(chartjss);
            
            let options = {
              title : 'Carting Report warehouse Three',
              vAxis: {title: 'Range'},
              hAxis: {title: 'Consolidator'},
              seriesType: 'bars',
              series: {7: {type: 'line'}}
            };
            let chart = new google.visualization.ComboChart(document.getElementById('caring_chart'));
            chart.draw(data, options);
            }